@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    display: flex;
	width: 100%;
	top:0px;
	background-color:white;
	height:100px;
	position: fixed;
	z-index: 2;
}
header .mark{
	color:aquamarine;
	font-size: 50px;
	margin-left: 150px;
	align-self: center;
	font-family: Impact, Charcoal, sans-serif;
}
footer{
    bottom:0px;
	background-color:#18978F;
	height:50px;
	position: fixed;
	width : 100%;
}
.lists{
	margin-top: 100px;
	padding-bottom: 50px;
    display: flex;
	flex-flow: row wrap;
	font-family: 'GmarketSansMedium';
	justify-content: center;
	margin-left: 270px;
	width: 1000px;
	height: 100%;
	
}
.lists div{
	height:250px;
	width: 250px;
	/* align-self: center; */
}
img{
	border-radius: 50%;
	transition: 0.5s;
}
.lists :hover img{
	transform: scale(1.15);
}
.fixedSize{
	width: 1408px;
	display: flex;
	justify-content: center;
}
